{% if task_runner == "celery" -%}
#!/usr/bin/env bash
set -e
exec celery -A config worker -l INFO
{% elif task_runner == "huey" -%}
#!/usr/bin/env bash
set -e
exec python manage.py run_huey
{% endif %}
